<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.ems.core.mapper.AdminMapper">
        <select id="getStudentInfo" parameterType="com.chen.ems.core.model.UserInfoVO" resultType="com.chen.ems.core.model.UserInfoVO">
            select id, number, username, classes, sex, origin, phone, email, political, address, college, major
             FROM ems_user
             <where>
                 id in(SELECT user_id FROM ems_user_role where role_id = 2)
                 <if test="number != null and number != ''">
                    and number = #{number}
                 </if>
                 <if test="username != null and username != ''">
                     and username = #{username}
                 </if>
                 <if test="college != null and college != ''">
                     and college = #{college}
                 </if>
                 <if test="classes != null and classes != ''">
                     and classes = #{classes}
                 </if>
                 <if test="major != null and major != ''">
                     and major = #{major}
                 </if>
             </where>
        </select>

        <update id="updateStudent" parameterType="com.chen.ems.core.model.UserInfoVO">
            update ems_user set number=#{number},username=#{username},classes=#{classes},sex=#{sex},origin=#{origin},phone=#{phone},email=#{email},political=#{political},address=#{address},college=#{college},major=#{major}
            where id=#{id}
        </update>

    <insert id="addStudent" parameterType="com.chen.ems.core.model.UserInfoVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into ems_user(number, username, classes, sex, origin, phone, email, political, address, college, major)
            values (#{number},#{username},#{classes},#{sex},#{origin},#{phone},#{email},#{political},#{address},#{college},#{major})
    </insert>

    <insert id="addStudentAndRole">
        insert into ems_user_role(user_id, role_id) values (#{id}, #{roleId})
    </insert>

    <select id="getTeacherInfo" parameterType="com.chen.ems.core.model.UserInfoVO" resultType="com.chen.ems.core.model.UserInfoVO">
        select id, number, username, sex, phone, email, political, address, college
        FROM ems_user
        <where>
            id in(SELECT user_id FROM ems_user_role where role_id = 3)
            <if test="number != null and number != ''">
                and number = #{number}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="college != null and college != ''">
                and college = #{college}
            </if>
        </where>
    </select>

    <update id="updateTeacher" parameterType="com.chen.ems.core.model.UserInfoVO">
        update ems_user set number=#{number},username=#{username},sex=#{sex},phone=#{phone},email=#{email},political=#{political},address=#{address},college=#{college}
        where id=#{id}
    </update>

    <insert id="addTeacher" parameterType="com.chen.ems.core.model.UserInfoVO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into ems_user(number, username, sex, phone, email, political, address, college)
        values (#{number},#{username},#{sex},#{phone},#{email},#{political},#{address},#{college})
    </insert>

    <insert id="addTeacherAndRole">
        insert into ems_user_role(user_id, role_id) values (#{id}, #{roleId})
    </insert>

    <select id="getCollegeInfo" parameterType="com.chen.ems.core.model.CollegeVO" resultType="com.chen.ems.core.model.CollegeVO">
        SELECT c.*,(SELECT COUNT(*) FROM ems_user u LEFT JOIN ems_user_role r on u.id=r.user_id where r.role_id=2 and college = c.name) as studentNum,(SELECT COUNT(*) FROM ems_user u LEFT JOIN ems_user_role r on u.id=r.user_id where r.role_id=3 and college = c.name) as teacherNum FROM `ems_college` c
        <where>
            <if test="name != null and name != ''">
                and c.name = #{name}
            </if>
        </where>
    </select>

</mapper>