<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.ems.core.mapper.ElectiveCourseMapper">
  <resultMap id="BaseResultMap" type="com.chen.ems.core.model.ElectiveCourseVO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_id" jdbcType="VARCHAR" property="courseId" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
    <result column="classroom_id" jdbcType="INTEGER" property="classroomId" />
    <result column="class_time" jdbcType="VARCHAR" property="classTime" />
    <result column="course_attr" jdbcType="VARCHAR" property="courseAttr" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, course_id, course_name, teacher_id, classroom_id, class_time, course_attr, type, totalNum, remaining, semester
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ems_electivecourse
    where course_id = #{courseId}
  </select>
    <select id="getElectiveCourseInfo" resultType="com.chen.ems.core.model.ElectiveCourseVO">
      select id,course_id,course_name,class_time,course_attr,type,totalNum,remaining,semester,
      (select username from ems_user where number = teacher_id) as teacherName,
      (select CONCAT(etb.build_name,r.classroomName) from ems_classroom r left join ems_teach_build etb on r.teach_build_id = etb.id where r.id = classroom_id) as className
      from ems_electivecourse
      <where>
      <if test="courseName !=null and courseName != ''">
        course_name = #{courseName}
      </if>
      <if test="type !=null">
        and type = #{type}
      </if>
      <if test="semester !=null and semester != ''">
        and semester = #{semester}
      </if>
      </where>
    </select>
  <select id="getstudentCourseInfo" resultType="com.chen.ems.core.model.ElectiveCourseVO">
    select e.id, e.course_id, e.course_name, e.classroom_id, e.class_time, e.course_attr, e.type, e.semester,
    (select username from ems_user where number = e.teacher_id) as teacherName,
    (select CONCAT(etb.build_name,r.classroomName) from ems_classroom r left join ems_teach_build etb on r.teach_build_id = etb.id where r.id = classroom_id) as className
    from ems_electivecourse e left join ems_student_elective ese on e.course_id = ese.course_id where ese.student_number = #{studentNumber}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ems_electivecourse
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.chen.ems.core.model.ElectiveCourseVO" useGeneratedKeys="true">
    insert into ems_electivecourse (course_id, course_name, teacher_id, 
      classroom_id, class_time, course_attr,totalNum, remaining,
      type,semester)
    values (#{courseId,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR},
            (select number from ems_user where username = #{teacherName,jdbcType=VARCHAR}),
      #{classroomId,jdbcType=VARCHAR}, #{classTime,jdbcType=VARCHAR}, #{courseAttr,jdbcType=VARCHAR},
        #{totalNum},#{totalNum},#{type,jdbcType=INTEGER},#{semester})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.chen.ems.core.model.ElectiveCourseVO" useGeneratedKeys="true">
    insert into ems_electivecourse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        course_id,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="teacherId != null">
        teacher_id,
      </if>
      <if test="classroomId != null">
        classroom_id,
      </if>
      <if test="classTime != null">
        class_time,
      </if>
      <if test="courseAttr != null">
        course_attr,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="classroomId != null">
        #{classroomId,jdbcType=VARCHAR},
      </if>
      <if test="classTime != null">
        #{classTime,jdbcType=VARCHAR},
      </if>
      <if test="courseAttr != null">
        #{courseAttr,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen.ems.core.model.ElectiveCourseVO">
    update ems_electivecourse
    <set>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null">
        teacher_id = (select number from ems_user where username = #{teacherName,jdbcType=VARCHAR}),
      </if>
      <if test="classroomId != null">
        classroom_id = #{classroomId,jdbcType=VARCHAR},
      </if>
      <if test="classTime != null">
        class_time = #{classTime,jdbcType=VARCHAR},
      </if>
      <if test="courseAttr != null">
        course_attr = #{courseAttr,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="totalNum != null">
        totalNum = #{totalNum,jdbcType=INTEGER},
        remaining = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="semester != null and semester != ''">
        semester = #{semester}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen.ems.core.model.ElectiveCourseVO">
    update ems_electivecourse
    set course_id = #{courseId,jdbcType=VARCHAR},
      course_name = #{courseName,jdbcType=VARCHAR},
      teacher_id = #{teacherId,jdbcType=VARCHAR},
      classroom_id = #{classroomId,jdbcType=VARCHAR},
      class_time = #{classTime,jdbcType=VARCHAR},
      course_attr = #{courseAttr,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
    <if test="remaining != null and remaining != ''">
      remaining = #{remaining,jdbcType=INTEGER},
    </if>
    <if test="semester != null and semester != ''">
      semester = #{semester}
    </if>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>