<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.ems.core.mapper.TeacherCourseMapper">
  <resultMap id="BaseResultMap" type="com.chen.ems.core.model.TeacherCourseVO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="teacherNo" jdbcType="VARCHAR" property="teacherno" />
    <result column="courseNo" jdbcType="VARCHAR" property="courseno" />
    <result column="classNo" jdbcType="VARCHAR" property="classno" />
    <result column="classroomNo" jdbcType="VARCHAR" property="classroomno" />
    <result column="classTime" jdbcType="VARCHAR" property="classtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, teacherNo, courseNo, classNo, classroomNo, classTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ems_teacher_course
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ems_teacher_course
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.chen.ems.core.model.TeacherCourseVO" useGeneratedKeys="true">
    insert into ems_teacher_course (teacherNo, courseNo, classNo, 
      classroomNo, classTime)
    values (#{teacherno,jdbcType=VARCHAR}, #{courseno,jdbcType=VARCHAR}, #{classno,jdbcType=VARCHAR}, 
      #{classroomno,jdbcType=VARCHAR}, #{classtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.chen.ems.core.model.TeacherCourseVO" useGeneratedKeys="true">
    insert into ems_teacher_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teacherno != null">
        teacherNo,
      </if>
      <if test="courseno != null">
        courseNo,
      </if>
      <if test="classno != null">
        classNo,
      </if>
      <if test="classroomno != null">
        classroomNo,
      </if>
      <if test="classtime != null">
        classTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teacherno != null">
        #{teacherno,jdbcType=VARCHAR},
      </if>
      <if test="courseno != null">
        #{courseno,jdbcType=VARCHAR},
      </if>
      <if test="classno != null">
        #{classno,jdbcType=VARCHAR},
      </if>
      <if test="classroomno != null">
        #{classroomno,jdbcType=VARCHAR},
      </if>
      <if test="classtime != null">
        #{classtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen.ems.core.model.TeacherCourseVO">
    update ems_teacher_course
    <set>
      <if test="teacherno != null">
        teacherNo = #{teacherno,jdbcType=VARCHAR},
      </if>
      <if test="courseno != null">
        courseNo = #{courseno,jdbcType=VARCHAR},
      </if>
      <if test="classno != null">
        classNo = #{classno,jdbcType=VARCHAR},
      </if>
      <if test="classroomno != null">
        classroomNo = #{classroomno,jdbcType=VARCHAR},
      </if>
      <if test="classtime != null">
        classTime = #{classtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen.ems.core.model.TeacherCourseVO">
    update ems_teacher_course
    set teacherNo = #{teacherno,jdbcType=VARCHAR},
      courseNo = #{courseno,jdbcType=VARCHAR},
      classNo = #{classno,jdbcType=VARCHAR},
      classroomNo = #{classroomno,jdbcType=VARCHAR},
      classTime = #{classtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertTeacherCourse" parameterType="com.chen.ems.core.model.CoursePlanVO">
    insert into ems_teacher_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classno != null">
        classNo,
      </if>
      <if test="courseno != null">
        courseNo,
      </if>
      <if test="teacherno != null">
        teacherNo,
      </if>
      <if test="classroomno != null">
        classroomNo,
      </if>
      <if test="classtime != null">
        classTime
      </if>
    </trim>
    <trim prefix="values(" suffix=")" suffixOverrides=",">
      <if test="classno != null">
        #{classno,jdbcType=VARCHAR},
      </if>
      <if test="courseno != null">
        #{courseno,jdbcType=VARCHAR},
      </if>
      <if test="teacherno != null">
        #{teacherno,jdbcType=VARCHAR},
      </if>
      <if test="classroomno != null">
        #{classroomno,jdbcType=VARCHAR},
      </if>
      <if test="classtime != null">
        #{classtime,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
</mapper>