<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.ems.core.mapper.UserMapper">
    <insert id="insertStudentUserByExcel" parameterType="list" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        insert into ems_user(number, username, password, salt, classes, sex, origin, phone, email, political, address, college, major) VALUES
            <foreach collection="users" item="user" separator=",">
             (#{user.number},#{user.username},#{user.password},#{user.salt},(select id from ems_classes where ems_classes.name = #{user.classes}),#{user.sex},#{user.origin},#{user.phone},#{user.email},#{user.political},#{user.address},(select id from ems_college where name = #{user.college}),(select id from ems_major where ems_major.major_name = #{user.major}))
            </foreach>
    </insert>

    <insert id="insertUserRoleByExcel">
        insert into ems_user_role(user_id, role_id) values
            <foreach collection="users" item="user" separator=",">
                (#{user.id},#{roleId})
            </foreach>
    </insert>

    <insert id="insertTeacherUserByExcel" parameterType="list" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        insert into ems_user(number, username, password, salt, sex, phone, email, political, address, college) VALUES
        <foreach collection="users" item="user" separator=",">
            (#{user.number},#{user.username},#{user.password},#{user.salt},#{user.sex},#{user.phone},#{user.email},#{user.political},#{user.address},(select id from ems_college where name = #{user.college}))
        </foreach>
    </insert>

    <select id="getName" resultType="string">
        select username from ems_user where username like CONCAT('%',#{value},'%')
    </select>

    <select id="getTeacherName" resultType="string">
        select username from ems_user left join ems_user_role eur on ems_user.id = eur.user_id where eur.role_id = 3 and username like CONCAT('%',#{value},'%')
    </select>

</mapper>